body {
    font-family: 'Mulish', sans-serif;
    background-color: #F2F2F2;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-style: Bold;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    color: #495464;
    margin-bottom: 15px;
    padding-bottom: 20px;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-style: Bold;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    color: #06283D;
    margin-top: 50px;
}

h4 {
    font-size: 15px;
    text-align: center;
    color: #06283D;
    margin-top: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: 20% 76%; /* button-container is 20%, input-container is 76% */
    grid-gap: 18px; /* add some space between the columns */
}
  
.button-container {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

#button1, #button2, #button3, #button4 {
    font-size: 13px;
    background-color: #6C7A89;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 45px;
    margin-left: 3px;
    margin-bottom: 15px;
    padding: 7px 10px; /* Top & Bottom, Right & Left */
}

#button1:hover, #button2:hover, #button3:hover, #button4:hover {
    background-color: #D3D6DB;
    color: #6C7A89;
}
  
.input-container {
    display: flex;
    position: relative; 
    align-items: center;
    justify-content: space-between;
    border: 2px solid #495464;
    border-radius: 5px;
    width: 100%;
    margin: 0 auto;
}

.input-box {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.radio-box {
    align-items: center;
    width: 100%;
    padding: 30px 55px 30px; /* Top, Right & Left, Bottom */
}

.radio-box input, .radio-box label {
    margin-right: 10px;
    margin-bottom: 20px;
}

.search-box {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 10px 50px 50px; /* Top, Right & Left, Bottom */
    margin: 0 auto;
}

.input-row { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
  
.input-row label {
    margin-right: 10px;
    flex-basis: 30%; /* Set the label's width to 30% */
}
  
.input-row input {
    flex-grow: 1; /* Allow the input to grow to fill remaining space */
}

#loader {
    border-radius: 50%;
    border: 5px solid #f3f3f3;
    border-top: 6px solid #548CA8;
    border-bottom: 6px solid #548CA8;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: auto;
    margin-top: 30px;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loader-text {
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    text-align: center;
}

table {
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    text-align: center;
    border: solid 1px #0f4871;
    border-collapse: collapse;
    width: 100%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

#table-content thead {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    background-color: #0f4871;
    color: white;
}

#table-content tr:nth-child(even) {
    background-color: #EAEAEA;
}

#table-content td {
    border: solid 1px #ccc;
    cursor: pointer;
    padding: 5px;
}

#table-content td:hover {
    background: #ECF2FF;
    color: #0f4871;
}

#table-content td > .display-colour {
    width: 100%;
    height: 30px;
    border: none;
    margin: auto;
}

#table-content td img {
    width: 100px;
    height: 50px;
}

/* For 404.html & about.html */
.pnf-container, .abt-container {
    text-align: center;
}